.footer {
    /* position: absolute; */
    padding: 1rem;
    background-color: var(--background-color-2);
    color: var(--text-color-1);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}