.skills {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color-1);
}

.container-skills {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.skills-heading {
    padding-top: 4rem;
    width: 100%;
}

.skills-heading p:first-child {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
    display: inline;
    border-bottom: 4px solid var(--impact-text-color);
    text-align: left;
}

.skills-heading p:last-child {
    padding: 1rem 0;
}

.skills-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    text-align: center;
    padding: 2rem 0;
}

.skills-grid div {
    box-shadow: 0 4px 6px -1px var(--box-shadow), 0 2px 4px -2px var(--box-shadow);
    transition: all 0.5s;
    border-radius: 5px;
}

.skills-grid div:hover {
    transform: scale(1.1);
}

.skills-grid div img {
    width: 5rem;
    margin: 0 auto;
}

.skills-grid div p {
    margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
    .skills {
        height: auto;
    }
    .skills-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}